<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="BtcMarkets" value="https://pkgs.dev.azure.com/BtcMarkets-Admin/_packaging/BtcMarkets/nuget/v3/index.json" />
  </packageSources>
</configuration>